<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="/logs/internal-nlog-AspNetCore.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>

      <target xsi:type="File" name="jsonFile" fileName="/logs/nlog-json-nested-${shortdate}.log">
        <layout xsi:type="JsonLayout">
          <attribute name="time" layout="${longdate}" />
          <attribute name="spanId" layout="${activity:property=TraceId:whenEmpty=N/A}" />
          <attribute name="correlationId" layout="${scope-property:CorrelationId:whenEmpty=N/A}" />
          <attribute name="logger" layout="${logger:shortName=false}" />
          <attribute name="user" layout="${environment-user:userName=true:domain=false}" />
          <attribute name="level" layout="${level}" />
          <attribute name="message" layout="${message}" />
          <attribute name="properties" encode="false" >
            <layout xsi:type="JsonLayout" includeEventProperties="true" maxRecursionLimit="3" />
          </attribute>
          <attribute name="exception" encode="false">
            <layout xsi:type="JsonLayout">
              <attribute name="type" layout="${exception:format=type}" />
              <attribute name="message" layout="${exception:format=message}" />
              <attribute name="stacktrace" layout="${exception:format=tostring}" />
            </layout>
          </attribute>
          <attribute name="sourceIp" layout="${aspnet-request-ip}" />
          <attribute name="duration" layout="${aspnet-request-duration}" />
        </layout>
      </target>
      
      
        <target xsi:type="File" name="allfile" 
                fileName="./logs/nlog-catalog-all-${shortdate}.log"
                layout="${longdate}|${scope-property:CorrelationId:whenEmpty=N/A}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
        <target xsi:type="File" name="ownFile-web" 
                fileName="./logs/nlog-catalog-own-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
        <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="System.*" finalMinLevel="Warn" />
        <logger name="Microsoft.*" finalMinLevel="Warn" />
        <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
    </rules>
    
    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" />
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
        <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
      
        <logger name="*" minlevel="Trace" writeTo="jsonFile" />
    </rules>
</nlog>